<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>All registered Employees</h1>
        <hr>
        <table>
            <tr>
                <th>Identification Number</th>
                <th>Name</th>
                <th>Delete</th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{employee._id}}</td>
                <td>{{employee.name}}</td>
                <td><a href="/delete/{{employee._id}}">X</a></td>
            </tr>
            {% endfor %}
				</table>
                <a href="/index">Back to Home Screen</a>
			</body>
		</html>